.img {
    width: 55px;
    height: 55px;
    
    border-radius: 70px;
    border: 1px solid #FFECEC;
    background: #FFECEC;

}

.line2 {
    border-left: 1px solid #adafb5;


    height: 75px;
    position: relative;
    left: 89px;

     
}